.App {
  text-align: center;
  margin: 5px;
}

input {
  display: block;
  width: 350px;
  height: 35px;
  font-size: large;
}

/* login */

.login {
  display: inline-grid;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 380px;
  height: 420px;
  margin: 20px;
  padding: 20px;
}

.login button {
  width: 360px;
  height: 40px;
}

/* home.js */

.homeMain {
  text-align: center;
}

.homeContainers {
  text-align: center;
  display: inline-grid;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 380px;
  height: 500px;
  margin: 10px;
  padding: 20px;
}

.homeContainers button {
  width: 360px;
  height: 40px;
}

li {
  text-align: left;
}
